.places__items {
  width: 100%;
  max-width: 984px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  gap: 80px;
}

@media screen and (max-width: 767px) {
  .places__items {
    gap: 50px;
  }
}